<a class="room-button" href="#">
    Room
</a>
<a class="room-button" href="@Url.Action("CreateRoom", "Home" )">
    <strong>+</strong>
</a>
<a class="room-button" href="@Url.Action("Logout", "Account" )">
    Logout
</a>