@model IEnumerable<Chat>


@foreach(var chat in Model)
{
    <a class="room-button" href="#">
        @chat.Name
    </a>
}

<a class="room-button" href="@Url.Action("CreateRoom", "Home" )">
    <strong>+</strong>
</a>
<a class="room-button" href="@Url.Action("Logout", "Account" )">
    Logout
</a>